{{- if eq .Values.common.role "validator" }}
{{- $existingSecret := .Values.common.keys.existingSecret }}
{{- $generateKeysOnStart := .Values.common.keys.generateKeysOnStart }}
{{- if ne (eq $existingSecret "") $generateKeysOnStart }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "node.fullname" . }}
  labels:
    {{- include "node.labels" . | nindent 4 }}
data:
  signing-key: {{ required "Please provide a signing key; --set common.keys.signingKey"  .Values.common.keys.signingKey | b64enc | quote}}
  ethereum-key: {{ required "Please provide an ethereum key; --set common.keys.ethereumKey" .Values.common.keys.ethereumKey | b64enc | quote }}
  arbitrum-key: {{ required "Please provide an arbitrum key; --set common.keys.arbitrumKey" .Values.common.keys.arbitrumKey | b64enc | quote }} 
  node-key: {{ required "Please provide a node key; --set common.keys.nodeKey" .Values.common.keys.nodeKey | b64enc | quote }}
{{- end }}
{{- end }}

{{- if eq .Values.common.role "lp" }}
{{- $existingSecret := .Values.common.keys.existingSecret }}
{{- $generateKeysOnStart := .Values.common.keys.generateKeysOnStart }}
{{- if ne (eq $existingSecret "") $generateKeysOnStart }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "node.fullname" . }}
  labels:
    {{- include "node.labels" . | nindent 4 }}
data:
  lp-key: {{ required "Please provide a  key; --set common.keys.lpKey"  .Values.common.keys.lpKey | b64enc | quote}}
{{- end }}
{{- end }}
{{- end }}